* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    height: 40vw;
    width: 100%;
    border: 3px solid black;
}

.ldireito {
    width: 50%;
    display: block;
    height: 40vw;
    padding: 3px;
}

.lesquerdo {
    width: 50%;
    height: 40vw;
    padding: 30px;
    margin: 50px;
}

.ldireito h1 {
    font-weight: bold;
    font-size: xx-large;
}

.ldireito p {
    font-weight: bold;
    font-size: x-large;
}

.lesquerdo ul {
    list-style: none;
    justify-content: space-around;
    display: flex;
    word-spacing: 1px;
    border: 3px solid black;
    height: 25px;
}

nav {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 216, 110);
    height: 20vw;
    width: 100%;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    padding: 40px;
}

.navh1 {
    font-size: 60px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 20px;
}

nav p {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 216, 110);
    height: 50vw;
    width: 100%;
    border-right: 3px solid black;
    border-left: 3px solid black;
    padding: 60px;
}

.salvadora {
    padding: 50px;
    display: block;
}

.salvadora h1 {
    font-size: 50px;
    font-weight: bold;
}

.salvadora p {
    font-size: 30px;
    font-weight: bold;
}

.salvadora button {
    border: 5px black solid;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    height: 100px;
    width: 200px;
}